<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th>VALOR</th>
      <th>USUARIO</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.name %></td>
        <td><%= point.point_value %></td>
        <td><%= point.point_status? 'Completado' : 'No Completado' %></td>
        <td><%= link_to 'Destroy', point, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>