<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th>VALOR</th>
      <th>ESTADO</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @completed_points.each do |completed_point| %>
      <tr>
        <td><%= completed_point.point.name %></td>
        <td><%= completed_point.point.point_value %></td>
        <td><%= completed_point.point_status ? 'Completado' : 'No Completado' %></td>
      </tr>
    <% end %>
  </tbody>
</table>