  <div class="row justify-content-center">
      <%= form_with(model: point, local: true) do |form| %>
      <% if point.errors.any? %>
      <div id="error_explanation">
          <h2><%= pluralize(point.errors.count, "error") %> prohibited this point from being saved:</h2>

          <ul>
              <% point.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
              <div class="col-md-4 mt-5 bg-light rounded">
                  <h1 class="text-center font-weight-bold text-primary">Contact Us</h1>
                  <hr class="bg-light">
                  <h5 class="text-center text-success"></h5>
                  <form action="" method="post" id="form-box" class="p-2">
                      <div class="form-group input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <%= form.text_field :name, class: 'form-control', placeholder: 'Nombre del Punto' %>
                      </div>
                      <div class="form-group input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                          </div>
                          <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                      </div>
                      <div class="form-group">
                          <input type="submit" name="submit" id="submit" class="btn btn-primary btn-block" value="Send">
                      </div>
                  </form>
              </div>
              <% end %>
      </div>
  </div>